@import "tailwindcss";

:root{
  --background:#050505;
  --card:#0d0d0d;
  --border:#262626;
  --text:#ffffff;
  --muted:#9f9f9f;
  --primary:#dc2626;
}

html{
  scroll-behavior:smooth;
}

body{
  background:var(--background);
  color:var(--text);
}

.background-grid{
    background-image:
      linear-gradient(rgba(255,255,255,.03) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255,255,255,.03) 1px, transparent 1px);

    background-size:40px 40px;
}

.red-glow{
    position:absolute;
    width:700px;
    height:700px;

    background:#dc2626;

    filter:blur(220px);

    opacity:.15;

    border-radius:9999px;
}
